body {
	background-image: url("../img/2010.jpeg");
	background-size: cover;
	background-position: center;
}

#spotify-iframe {
	position: absolute;
	top: 10px;
	right: 10px;
	height: 80px;
}

#spotify-display {
	position: absolute;
	top: 81px;
	right: 10px;
	text-decoration: underline 1px;
	text-underline-offset: 2px;
}

#spotify-display:hover {
	cursor: hand;
	color: blue;
}

#year {
	width: 60%;
}

#rotatingGlobe {
	cursor: move;
	width: 50%;
	padding-left: 65px;
	padding-top: 80px;
	background-color: #ffffffc2;
	border-radius: 50%;
}
