body {
	margin: 0;	
}
#mainbody {
	background-image: url("../img/2010.jpeg");
	background-size: cover;
	background-position: center;
	padding-bottom: 40px;
}

h1 {
	color: white;
	font-family: 'Train One', cursive;
	font-weight: lighter;
	margin-left: 20px;
	font-size: 60px;
	text-shadow: black 5px 3px;
}

#spotify-iframe {
	position: absolute;
	top: 10px;
	right: 10px;
	height: 80px;
}

#spotify-display {
	position: absolute;
	top: 81px;
	right: 10px;
	text-decoration: underline 1px;
	text-underline-offset: 2px;
	background-color: white;
	padding: 7px;
	border-radius: 10px;
}

#spotify-display:hover {
	cursor: hand;
	color: blue;
}

#year {
	width: 100%;
}

#rotatingGlobe {
	cursor: move;
	width: 50%;
	padding-left: 65px;
	padding-top: 80px;
	background-color: #ffffffc2;
	border-radius: 50%;
}

#globe-desc {
	width: 35%;
	background-color: #ffffffe0;
	float: right;
	border-radius: 30px;
	margin: 0;
	padding: 2%;
	margin-right: 10px;
	margin-top: 90px;
}
#test {
	display: none;
}
#part2 {
	height: fit-content;
}
#part2 h2 {
	padding-top: 20px;
	text-align: center;
	font-size: 30px;
}
#part2-left {
	width: 25%;
	float: left;
	padding-left: 5%;
	padding-top: 4%;
}
#part2-left input {
	width: 100%;
	padding: 10px;
	margin-top: 10px;
}
#part2-left button {
	padding: 10px;
	margin-top: 20px;
}
#word-cloud {
	width: 70%;
	height: 100%;
	min-height: 150px;
}
#city-popup {
	position: fixed;
	background-color: #00000073;
	width: 100%;
	height: 100%;
	bottom: 0;
	display: none;
	justify-content: center;
	align-items: center;
	text-align: center;
}
#city-popup-content {
	background-color: white;
	width: 60%;
	height: fit-content;
	padding: 2%;
	display: inline-block;
	animation-name: popupGrow;
	animation-duration: 1.2s;
	overflow: hidden;
}
@keyframes popupGrow {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}
#popup-left {
	width: 45%;
	margin: 0;
	float: left;
	height: 100%;
}
#popup-left img {
	width: 100%;
}
#popup-right {
	width: 45%;
	float: right;
}
#popup-heading {
}
#popup-subheading {
}
#popup-right p {
}
#popup-button {
	padding: 10px;
	color: black;
}
#popup-button:hover {
	cursor: pointer;
	background-color: red;
	color: white;
}
#popup-button-2 {
	padding: 10px;
}
#popup-button-2:hover {
	cursor: pointer;
	background-color: red;
	color: white;
}


